/* Author   : Murali Aadhitya */

@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

.frontpage{
    background: #e6e6e6;
}

.bgimg {
    width: 100%;
}
.bgimg img{
    width: 100%;
    opacity: 70%;
    filter: blur(2px);
}
.Contact{
    text-align: center;
    width: 500px;
    color: black;
    position: absolute;
    top: 50vh;
    left: 0%;
    transform: translateY(-50%);
}
.textbo{
    font-family: 'Saira Stencil One', cursive;
    font-size: 60px;
    position: absolute;
    top: 0%;
    width: 100vw;
    text-align: center;
    background-color: rgba(250, 235, 215, .5);
    background: blur(5px);
}